AI- Invoice Mnagement & Analysis .json
{
  "name": "AI- Invoice Mnagement & Analysis",
  "nodes": [
    {
      "parameters": {
        "documentType": "image_url",
        "options": {}
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        -1392,
        -704
      ],
      "id": "8b5d6016-6b29-49bd-aba7-2f8d6c159254",
      "name": "Extract text",
      "credentials": {
        "mistralCloudApi": {
          "id": "KMhUFOSq2Iq5X0nv",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        -1392,
        -512
      ],
      "id": "adb5fbd4-c630-48a5-abfc-399d677400cf",
      "name": "Extract text1",
      "credentials": {
        "mistralCloudApi": {
          "id": "KMhUFOSq2Iq5X0nv",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.pages[0].markdown }}",
        "attributes": {
          "attributes": [
            {
              "name": "vendor_name",
              "description": "the name of the company sending the invoice ",
              "required": true
            },
            {
              "name": "invoice_number",
              "description": "The invoice number.",
              "required": true
            },
            {
              "name": "invoice_date",
              "description": "The invoice date in YYYY-MM-DD format. Convert dates like \"22 Jan 2025\" to \"2025-01-22\"",
              "required": true
            },
            {
              "name": "total_amount",
              "type": "number",
              "description": "The total amount on the invoice.",
              "required": true
            },
            {
              "name": "currency ",
              "description": "The 3-letter currency code like PKR, USD, INR, AED",
              "required": true
            },
            {
              "name": "category",
              "description": "The expense category. For food/groceries use \"Pantry & Refreshments\". For electricity bills use \"Electricity Bills\". For computer equipment use \"Computer Hardware\". For fuel use \"Fuel & Petrol\". For internet use \"Internet & Broadband\". For mobile/phone use \"Telephone & Mobile Bills\". For office supplies use \"Stationery & Office Supplies\". Choose the best match from these options. Do NOT use \"Miscellaneous Expense\" unless nothing else fits. ",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "# Invoice Data Extraction Prompt\n\nExtract invoice data and return ONLY valid JSON with these 6 fields: vendor_name, invoice_number, invoice_date, total_amount, currency, and category.\n\n## EXTRACTION RULES:\n\n**vendor_name:** Company name from invoice header\n\n**invoice_number:** Invoice/bill number (must be unique identifier)\n\n**invoice_date:** Convert ALL dates to YYYY-MM-DD format\n- \"22 Jan 2025\" → \"2025-01-22\"\n- \"15-Dec-2024\" → \"2024-12-15\"\n- \"Dec 15, 2024\" → \"2024-12-15\"\n\n**total_amount:** Final amount as NUMBER only (remove currency symbols and commas)\n- \"PKR 2,245\" → 2245\n- \"$100.50\" → 100.50\n\n**currency:** 3-letter code (PKR, USD, EUR, GBP, AED, INR)\n\n**category:** Select ONE category from the list below based on vendor type and invoice items\n\n---\n\n## CATEGORY LIST (47 Categories)\n\nSelect the MOST SPECIFIC category that matches the invoice.\n\n**TECHNOLOGY & IT:**\n- Computer Hardware\n- Computer Parts & Accessories\n- Printers & Scanners\n- Software Licenses\n- SaaS & Cloud Services\n- IT Services & Support\n- Electronics & Gadgets\n- Networking Equipment\n\n**OPERATIONS & EQUIPMENT:**\n- Machinery & Industrial Equipment\n- Tools & Workshop Equipment\n- Machinery Spare Parts\n- Equipment Repairs & Maintenance\n- Safety Equipment & PPE\n\n**UTILITIES & COMMUNICATION:**\n- Electricity Bills\n- Internet & Broadband\n- Telephone & Mobile Bills\n- Water & Gas Bills\n\n**TRANSPORT & VEHICLE:**\n- Fuel & Petrol\n- Vehicle Maintenance & Repairs\n- Vehicle Spare Parts\n- Freight & Courier Services\n- Transport & Travel\n\n**OFFICE & ADMINISTRATION:**\n- Stationery & Office Supplies\n- Printing & Documentation\n- Office Furniture\n- Pantry & Refreshments\n- Cleaning & Janitorial\n\n**FACILITIES & PROPERTY:**\n- Rent & Lease\n- Building Maintenance\n- Security Services\n\n**PROFESSIONAL SERVICES:**\n- Legal Services\n- Accounting & Audit Services\n- Consulting Services\n- HR & Recruitment Services\n- Training & Development\n- Banking & Financial Services\n\n**MARKETING & SALES:**\n- Digital Marketing & Advertising\n- Traditional Advertising\n- Marketing Services\n- Promotional Materials\n- Events & Exhibitions\n\n**BUSINESS TRAVEL:**\n- Hotel & Accommodation\n- Flight & Air Travel\n- Business Meals & Entertainment\n- Travel Allowances\n\n**MISCELLANEOUS:**\n- Miscellaneous Services\n- Miscellaneous Expense\n\n---\n\n## CATEGORY MATCHING GUIDE\n\n**CRITICAL: Read vendor name AND items on invoice to pick the MOST SPECIFIC category.**\n\n### Common Vendor Types to Categories:\n\n**Food & Grocery:**\n- Organic stores, grocery stores, food suppliers → \"Pantry & Refreshments\"\n- Restaurants, cafes for business meals → \"Business Meals & Entertainment\"\n\n**Technology:**\n- Dell, HP, Lenovo, Apple stores → \"Computer Hardware\"\n- Microsoft, Adobe, software companies → \"Software Licenses\"\n- AWS, Google Cloud, Dropbox → \"SaaS & Cloud Services\"\n\n**Utilities:**\n- K-Electric, WAPDA, LESCO, IESCO → \"Electricity Bills\"\n- PTCL internet service → \"Internet & Broadband\"\n- Jazz, Telenor, Ufone, Zong mobile → \"Telephone & Mobile Bills\"\n- Sui Gas → \"Water & Gas Bills\"\n\n**Fuel:**\n- PSO, Shell, Total, Attock Petroleum → \"Fuel & Petrol\"\n\n**Office:**\n- Stationers, office supply stores → \"Stationery & Office Supplies\"\n- Tea, coffee, snacks for office → \"Pantry & Refreshments\"\n\n**Transport:**\n- Courier companies like TCS, Leopards → \"Freight & Courier Services\"\n- Car servicing, mechanics → \"Vehicle Maintenance & Repairs\"\n\n**Property:**\n- Rent payments → \"Rent & Lease\"\n- Building repairs → \"Building Maintenance\"\n\n---\n\n## STEP-BY-STEP CATEGORY SELECTION:\n\n1. Identify vendor type: What business is the vendor in?\n2. Read line items: What products or services are listed?\n3. Match to category: Find the MOST SPECIFIC category that fits\n4. Avoid Miscellaneous: Only use if NOTHING else fits\n\n### Key Examples:\n\n**Example 1:**\nVendor: \"Prasha Anand's Organic Store\"\nItems: Organic Apples, Milk, Honey, Bread\nCategory: \"Pantry & Refreshments\"\n\n**Example 2:**\nVendor: \"K-Electric\"\nItems: Electricity charges\nCategory: \"Electricity Bills\"\n\n**Example 3:**\nVendor: \"Dell Pakistan\"\nItems: Laptop, Monitor\nCategory: \"Computer Hardware\"\n\n**Example 4:**\nVendor: \"PSO Petrol Pump\"\nItems: Diesel fuel\nCategory: \"Fuel & Petrol\"\n\n**Example 5:**\nVendor: \"PTCL\"\nItems: Internet broadband service\nCategory: \"Internet & Broadband\"\n\n**Example 6:**\nVendor: \"National Book Store\"\nItems: Pens, paper, folders\nCategory: \"Stationery & Office Supplies\"\n\n**Example 7:**\nVendor: \"Metro Cash & Carry\"\nItems: Tea, coffee, sugar, biscuits\nCategory: \"Pantry & Refreshments\"\n\n---\n\n## IMPORTANT RULES:\n\n- Return ONLY valid JSON with no markdown code blocks\n- Use exact field names: vendor_name, invoice_number, invoice_date, total_amount, currency, category\n- Dates MUST be in YYYY-MM-DD format\n- Category must be ONE of the 47 specific categories listed above\n- DO NOT use \"Miscellaneous Expense\" unless nothing else fits\n- Match based on vendor type AND invoice items\n- Be specific - choose the closest matching category\n\n---\n\n## MATCHING PRIORITY:\n\n1. First, look at the vendor name - what type of business is it?\n2. Second, look at the items or services on the invoice\n3. Third, match to the MOST SPECIFIC category from the list\n4. If multiple categories could fit, choose the PRIMARY purpose of the expense\n\nFor mixed invoices with multiple item types, choose the category that represents the dominant expense type.\n\n---\n\nReturn ONLY the JSON object with the 6 required fields. No explanations, no markdown, no code blocks."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -1152,
        -624
      ],
      "id": "9416ad8e-5c36-4f83-ba80-ea7d5d252bb5",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1JgUpQhk_A2A5v_pTcHRrlSQb3kaqOGnEtBz1abSSmhk",
          "mode": "list",
          "cachedResultName": "Invoices",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JgUpQhk_A2A5v_pTcHRrlSQb3kaqOGnEtBz1abSSmhk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JgUpQhk_A2A5v_pTcHRrlSQb3kaqOGnEtBz1abSSmhk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "invoice url": "==HYPERLINK(\"{{$('Upload file').item.json.webViewLink}}\", \"View Link\")\n",
            " uniqueKey": "={{ $('Makekey').item.json.uniqueKey }}",
            "invoice url raw": "={{ $('Upload file').item.json.webViewLink }}",
            "invoice number": "={{ $('Information Extractor').item.json.output.invoice_number }}",
            "invoice date": "={{ $('Information Extractor').item.json.output.invoice_date }}",
            "total amount": "={{ $('Information Extractor').item.json.output.total_amount }}",
            "vendor name": "={{ $('Information Extractor').item.json.output.vendor_name }}",
            "currency": "={{ $('Information Extractor').item.json.output['currency '] }}",
            "category": "={{ $('Information Extractor').item.json.output.category }}",
            "sender email": "={{ $('Webhook').item.json.body.email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "invoice number",
              "displayName": "invoice number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "invoice date",
              "displayName": "invoice date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vendor name",
              "displayName": "vendor name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sender email",
              "displayName": "sender email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "total amount",
              "displayName": "total amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "invoice url",
              "displayName": "invoice url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": " uniqueKey",
              "displayName": " uniqueKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "invoice url raw",
              "displayName": "invoice url raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Allowed tokens",
              "displayName": "Allowed tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        160,
        -720
      ],
      "id": "bffbc625-8183-4527-9617-abd46c165d38",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q9yRCLZ3ZBIW2ALY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "file",
        "name": "data",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1QkoOAP5iupYY9apTPK9MU4UicxUx7Tmc",
          "mode": "list",
          "cachedResultName": "N8N upload",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1QkoOAP5iupYY9apTPK9MU4UicxUx7Tmc"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2048,
        -608
      ],
      "id": "07a119e4-7942-45c4-9af3-61c713b5cd6c",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YesAAmgqyqgbGb4I",
          "name": "google Tahir credentials"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1840,
        -608
      ],
      "id": "72d116cd-a4ef-4050-8f31-4a203ba52aed",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YesAAmgqyqgbGb4I",
          "name": "google Tahir credentials"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "image/png",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a3fc87fd-070f-4b02-a707-1783824fc806"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PNG"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0abaad8d-0ca9-41b3-a001-3e18a67d99ae",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "28d5de3b-7032-4c2c-96a8-0ae5bf457614",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "image/jpeg",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "JPG"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1648,
        -624
      ],
      "id": "4aa2119e-7f01-4447-8158-bb4496dbcefb",
      "name": "Switch"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1JgUpQhk_A2A5v_pTcHRrlSQb3kaqOGnEtBz1abSSmhk",
          "mode": "list",
          "cachedResultName": "Invoices",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JgUpQhk_A2A5v_pTcHRrlSQb3kaqOGnEtBz1abSSmhk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JgUpQhk_A2A5v_pTcHRrlSQb3kaqOGnEtBz1abSSmhk/edit#gid=0"
        },
        "options": {}
      },
      "name": "Get Rows from Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -656,
        -32
      ],
      "id": "3f6b89c5-8dcb-468d-b598-d474d5f14a3d",
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q9yRCLZ3ZBIW2ALY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "21cd8830-d435-4718-8600-26d36ec5b4d3",
              "leftValue": "={{ $json.status }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "76359154-4555-47bf-9650-ce0c9f67107c",
              "leftValue": "={{ $json.Processed }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "name": "Filter Reviewed Invoices",
      "type": "n8n-nodes-base.filter",
      "position": [
        -432,
        -32
      ],
      "note": "Only get invoices with status filled",
      "id": "60f39bbd-1448-4276-8f23-30e7ef372b65",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "name": "Process Summary Data",
      "type": "n8n-nodes-base.code",
      "position": [
        -144,
        32
      ],
      "note": "Calculates totals from amount fields",
      "id": "e9b04c09-6389-4d38-a170-d6daa6954650",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Get all items from the previous node\nconst items = $input.all();\nconst rows = items.map(item => item.json);\n\n// Get current date\nconst now = new Date();\nconst today = new Date(now);\ntoday.setHours(0, 0, 0, 0);\n\n// Filter to only include invoices processed today\nconst todaysInvoices = rows.filter(r => {\n  const processedDate = r[\"processed\"] || r[\"Processed\"] || r[\"timestamp\"];\n  if (!processedDate) return true; // Include if no timestamp\n  \n  const invoiceProcessedDate = new Date(processedDate);\n  invoiceProcessedDate.setHours(0, 0, 0, 0);\n  \n  return invoiceProcessedDate >= today;\n});\n\n// If no new invoices today, return a \"no invoices\" message\nif (todaysInvoices.length === 0) {\n  const noInvoicesHtml = `<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Daily Invoice Management Report</title>\n  <style>\n    body{font-family:Arial,sans-serif;color:#333;padding:40px;background:#f4f6f9;margin:0;text-align:center}\n    .container{max-width:600px;margin:0 auto;background:white;padding:50px;border-radius:12px;box-shadow:0 4px 12px rgba(0,0,0,0.1)}\n    h1{color:#2563eb;margin-bottom:20px}\n    .icon{font-size:64px;margin:20px 0}\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"icon\">📭</div>\n    <h1>Daily Invoice Management Report</h1>\n    <h2>No New Invoices Today</h2>\n    <p>There are no new invoices to report for ${new Date().toLocaleDateString()}.</p>\n    <p style=\"color:#666;font-size:14px;margin-top:30px;\">This is an automated daily summary report.</p>\n  </div>\n</body>\n</html>`;\n  \n  return [{ json: { html: noInvoicesHtml } }];\n}\n\n// Calculate totals\nlet totalPaid = 0;\nlet totalUnpaid = 0;\n\nfor (const r of todaysInvoices) {\n  const amount = parseFloat(r[\"total amount\"] || r[\"total_amount\"] || 0);\n  const status = (r[\"status\"] || \"\").toLowerCase().trim();\n  \n  if (status === \"paid\") {\n    totalPaid += amount;\n  } else if (status === \"unpaid\") {\n    totalUnpaid += amount;\n  }\n}\n\nconst grandTotal = totalPaid + totalUnpaid;\n\n// Build table rows\nlet tableRows = '';\nlet rowNumber = 1;\n\nfor (const r of todaysInvoices) {\n  const status = (r[\"status\"] || \"\").toLowerCase().trim();\n  const statusBadge = status === \"paid\" \n    ? '<span style=\"background:#dcfce7;color:#166534;padding:6px 14px;border-radius:20px;font-weight:600;font-size:11px;text-transform:uppercase;\">✓ Paid</span>'\n    : '<span style=\"background:#fee2e2;color:#991b1b;padding:6px 14px;border-radius:20px;font-weight:600;font-size:11px;text-transform:uppercase;\">⚠ Unpaid</span>';\n  \n const invoiceLink = r[\"invoice url raw\"] || r[\"invoice_url_raw\"] || r[\"invoice url\"] || \"#\";\n  const amount = parseFloat(r[\"total amount\"] || r[\"total_amount\"] || 0);\n  const currency = r[\"currency\"] || \"USD\";\n  \n  tableRows += `\n    <tr>\n      <td style=\"text-align:center;\">${rowNumber}</td>\n      <td><strong>${r[\"invoice number\"] || r[\"invoice_number\"] || \"-\"}</strong></td>\n      <td>${r[\"invoice date\"] || r[\"invoice_date\"] || \"-\"}</td>\n      <td>${r[\"vendor name\"] || r[\"vendor_name\"] || \"-\"}</td>\n      <td style=\"text-align:right;\"><strong>${currency} ${amount.toLocaleString()}</strong></td>\n      <td>${r[\"category\"] || \"-\"}</td>\n      <td style=\"text-align:center;\">${statusBadge}</td>\n      <td style=\"text-align:center;\">\n        <a href=\"${invoiceLink}\" target=\"_blank\" style=\"background:#2563eb;color:white;padding:8px 16px;border-radius:6px;text-decoration:none;font-size:12px;display:inline-block;font-weight:600;transition:background 0.3s;\">\n          📄 View\n        </a>\n      </td>\n    </tr>`;\n  rowNumber++;\n}\n\nconst html = `<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Daily Invoice Management Report</title>\n  <style>\n    * { box-sizing: border-box; margin: 0; padding: 0; }\n    body {\n      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n      color: #1f2937;\n      padding: 30px;\n      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n      min-height: 100vh;\n    }\n    .container {\n      max-width: 1400px;\n      margin: 0 auto;\n      background: white;\n      padding: 40px;\n      border-radius: 16px;\n      box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);\n    }\n    .header {\n      text-align: center;\n      margin-bottom: 40px;\n      padding-bottom: 30px;\n      border-bottom: 3px solid #e5e7eb;\n    }\n    .header h1 {\n      color: #1f2937;\n      font-size: 32px;\n      margin-bottom: 10px;\n      font-weight: 700;\n    }\n    .date-badge {\n      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n      color: white;\n      padding: 10px 24px;\n      border-radius: 30px;\n      font-size: 14px;\n      display: inline-block;\n      margin-top: 15px;\n      font-weight: 600;\n      box-shadow: 0 4px 12px rgba(102, 126, 234, 0.4);\n    }\n    .summary-cards {\n      display: grid;\n      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));\n      gap: 20px;\n      margin: 30px 0;\n    }\n    .card {\n      padding: 25px;\n      border-radius: 12px;\n      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);\n      transition: transform 0.3s, box-shadow 0.3s;\n    }\n    .card:hover {\n      transform: translateY(-5px);\n      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);\n    }\n    .card.total {\n      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n      color: white;\n    }\n    .card.paid {\n      background: linear-gradient(135deg, #10b981 0%, #059669 100%);\n      color: white;\n    }\n    .card.unpaid {\n      background: linear-gradient(135deg, #ef4444 0%, #dc2626 100%);\n      color: white;\n    }\n    .card.count {\n      background: linear-gradient(135deg, #f59e0b 0%, #d97706 100%);\n      color: white;\n    }\n    .card-label {\n      font-size: 14px;\n      opacity: 0.95;\n      margin-bottom: 10px;\n      text-transform: uppercase;\n      letter-spacing: 0.5px;\n      font-weight: 600;\n    }\n    .card-value {\n      font-size: 36px;\n      font-weight: 700;\n      line-height: 1.2;\n    }\n    .table-container {\n      margin-top: 40px;\n      overflow-x: auto;\n      border-radius: 12px;\n      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);\n    }\n    table {\n      border-collapse: collapse;\n      width: 100%;\n      font-size: 14px;\n      background: white;\n    }\n    thead {\n      background: linear-gradient(135deg, #1e40af 0%, #1e3a8a 100%);\n      color: white;\n    }\n    th {\n      padding: 16px 12px;\n      text-align: left;\n      font-weight: 600;\n      text-transform: uppercase;\n      font-size: 12px;\n      letter-spacing: 0.5px;\n    }\n    td {\n      padding: 14px 12px;\n      border-bottom: 1px solid #e5e7eb;\n    }\n    tbody tr {\n      transition: background-color 0.2s;\n    }\n    tbody tr:hover {\n      background-color: #f9fafb;\n    }\n    tbody tr:last-child td {\n      border-bottom: none;\n    }\n    .footer {\n      margin-top: 40px;\n      padding-top: 30px;\n      border-top: 2px solid #e5e7eb;\n      text-align: center;\n      color: #6b7280;\n      font-size: 13px;\n    }\n    .summary-total {\n      background: linear-gradient(135deg, #ede9fe 0%, #ddd6fe 100%);\n      padding: 25px;\n      border-radius: 12px;\n      margin-top: 30px;\n      border-left: 5px solid #7c3aed;\n    }\n    .summary-total h3 {\n      color: #5b21b6;\n      margin-bottom: 15px;\n      font-size: 18px;\n    }\n    .summary-row {\n      display: flex;\n      justify-content: space-between;\n      padding: 10px 0;\n      font-size: 15px;\n      border-bottom: 1px solid #c4b5fd;\n    }\n    .summary-row:last-child {\n      border-bottom: none;\n      font-weight: 700;\n      font-size: 18px;\n      padding-top: 15px;\n      margin-top: 10px;\n      border-top: 2px solid #7c3aed;\n    }\n    @media print {\n      body { background: white; padding: 0; }\n      .container { box-shadow: none; }\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>📊 Daily Invoice Management Report</h1>\n      <div class=\"date-badge\">\n        📅 ${new Date().toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}\n      </div>\n    </div>\n\n    <div class=\"summary-cards\">\n      <div class=\"card count\">\n        <div class=\"card-label\">Total Invoices</div>\n        <div class=\"card-value\">${todaysInvoices.length}</div>\n      </div>\n      <div class=\"card paid\">\n        <div class=\"card-label\">Total Paid</div>\n        <div class=\"card-value\">$${totalPaid.toLocaleString()}</div>\n      </div>\n      <div class=\"card unpaid\">\n        <div class=\"card-label\">Total Unpaid</div>\n        <div class=\"card-value\">$${totalUnpaid.toLocaleString()}</div>\n      </div>\n      <div class=\"card total\">\n        <div class=\"card-label\">Grand Total</div>\n        <div class=\"card-value\">$${grandTotal.toLocaleString()}</div>\n      </div>\n    </div>\n\n    <div class=\"table-container\">\n      <table>\n        <thead>\n          <tr>\n            <th style=\"text-align:center;width:50px;\">#</th>\n            <th>Invoice Number</th>\n            <th>Date</th>\n            <th>Vendor Name</th>\n            <th style=\"text-align:right;\">Amount</th>\n            <th>Category</th>\n            <th style=\"text-align:center;\">Status</th>\n            <th style=\"text-align:center;width:100px;\">View Link</th>\n          </tr>\n        </thead>\n        <tbody>\n          ${tableRows}\n        </tbody>\n      </table>\n    </div>\n\n    <div class=\"summary-total\">\n      <h3>💰 Financial Summary</h3>\n      <div class=\"summary-row\">\n        <span>Total Paid Amount:</span>\n        <span style=\"color:#059669;font-weight:600;\">$${totalPaid.toLocaleString()}</span>\n      </div>\n      <div class=\"summary-row\">\n        <span>Total Unpaid Amount:</span>\n        <span style=\"color:#dc2626;font-weight:600;\">$${totalUnpaid.toLocaleString()}</span>\n      </div>\n      <div class=\"summary-row\">\n        <span>Grand Total:</span>\n        <span style=\"color:#5b21b6;\">$${grandTotal.toLocaleString()}</span>\n      </div>\n    </div>\n\n    <div class=\"footer\">\n      <p><strong>Generated:</strong> ${new Date().toLocaleString()}</p>\n      <p style=\"margin-top:10px;\">Automated Invoice Management System • All amounts in USD</p>\n      <p style=\"margin-top:5px;color:#9ca3af;font-size:12px;\">This report includes invoices processed on ${new Date().toLocaleDateString()}</p>\n    </div>\n  </div>\n</body>\n</html>`;\n\nreturn [{ json: { html } }];"
      },
      "name": "Build HTML Summary",
      "type": "n8n-nodes-base.code",
      "position": [
        96,
        32
      ],
      "id": "58a8cea4-0245-4225-879c-39f6642a1f72",
      "typeVersion": 2
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 16
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2208,
        -96
      ],
      "id": "d0e6fe6d-9890-4593-a555-b057f0b702d9",
      "name": "Trigger 4PM"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * *"
            }
          ]
        }
      },
      "name": "Trigger 6PM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -880,
        -32
      ],
      "note": "Runs daily at 6 PM",
      "id": "bd25c038-434d-4b75-a68f-a1e94527d3b7",
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "sendTo": "skillhub42@gmail.com",
        "subject": "Invoices Review Required",
        "message": "Please open the sheet below and review the status of all received invoices and update the \"status\" column as paid or unpaid \nGoogle sheet :  https://docs.google.com/spreadsheets/d/1JgUpQhk_A2A5v_pTcHRrlSQb3kaqOGnEtBz1abSSmhk/edit?gid=0#gid=0",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1248,
        -112
      ],
      "id": "b1390dd1-2ce6-4a8c-84d7-39423e649add",
      "name": "Message to Reviewer",
      "webhookId": "c7ea9f1d-b2e5-4a23-91c9-f08164237935",
      "credentials": {
        "gmailOAuth2": {
          "id": "wyauPxOw5jd7LNq9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "tali1784@gmail.com",
        "subject": "📊 Daily Invoice Summary ",
        "message": "={{$node['Build HTML Summary'].json.html}}",
        "options": {
          "appendAttribution": false
        }
      },
      "name": "Invoice summary to Management",
      "type": "n8n-nodes-base.gmail",
      "position": [
        352,
        32
      ],
      "id": "83be9132-66b0-42b5-9c98-98fee7ddd22f",
      "typeVersion": 2.1,
      "webhookId": "a238b3a7-bb8e-429e-ac87-45ceaee5257a",
      "credentials": {
        "gmailOAuth2": {
          "id": "wyauPxOw5jd7LNq9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1JgUpQhk_A2A5v_pTcHRrlSQb3kaqOGnEtBz1abSSmhk",
          "mode": "list",
          "cachedResultName": "Invoices",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JgUpQhk_A2A5v_pTcHRrlSQb3kaqOGnEtBz1abSSmhk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JgUpQhk_A2A5v_pTcHRrlSQb3kaqOGnEtBz1abSSmhk/edit#gid=0"
        },
        "options": {}
      },
      "name": "Get Rows from Sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -2016,
        -96
      ],
      "id": "e56e0a8f-f58f-49b8-af4f-4078d849b5e7",
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q9yRCLZ3ZBIW2ALY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "4df17b18-b48f-4147-9a7b-6e4570d7daae",
              "leftValue": "={{ $items().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1664,
        -96
      ],
      "id": "208983c5-c265-4b50-8075-3fa9b24b1e26",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1JgUpQhk_A2A5v_pTcHRrlSQb3kaqOGnEtBz1abSSmhk",
          "mode": "list",
          "cachedResultName": "Invoices",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JgUpQhk_A2A5v_pTcHRrlSQb3kaqOGnEtBz1abSSmhk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JgUpQhk_A2A5v_pTcHRrlSQb3kaqOGnEtBz1abSSmhk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "invoice number": "={{ $json['invoice number'] }}",
            "invoice date": "={{ $json['invoice date'] }}",
            "vendor name": "={{ $json['vendor name'] }}",
            "sender email": "={{ $json['sender email'] }}",
            "total amount": "={{ $json['total amount'] }}",
            "currency": "={{ $json.currency }}",
            "category": "={{ $json.category }}",
            "status": "={{ $json.status }}",
            "invoice url": "={{ $json['invoice url'] }}",
            " uniqueKey": "={{ $json[' uniqueKey'] }}",
            "invoice url raw": "={{ $json['invoice url raw'] }}",
            "processed": "yes"
          },
          "matchingColumns": [
            "invoice number"
          ],
          "schema": [
            {
              "id": "invoice number",
              "displayName": "invoice number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "invoice date",
              "displayName": "invoice date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vendor name",
              "displayName": "vendor name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sender email",
              "displayName": "sender email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total amount",
              "displayName": "total amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "invoice url",
              "displayName": "invoice url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " uniqueKey",
              "displayName": " uniqueKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "invoice url raw",
              "displayName": "invoice url raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -144,
        -160
      ],
      "id": "e0c69a79-bf1c-42a9-ad61-3ccb404adc59",
      "name": "Update row in sheet",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q9yRCLZ3ZBIW2ALY",
          "name": "Google Sheets account"
        }
      },
      "notes": "update status of all rows as \"yes\" which are received from previous nodes"
    },
    {
      "parameters": {
        "jsCode": "const invoiceData = $json.output || $json;\n\nconst invoiceNumber = (invoiceData.invoice_number || invoiceData['Invoice Number'] || '').toString().trim().toUpperCase();\nconst totalAmount = parseFloat(invoiceData.total_amount || invoiceData['Total Amount'] || 0).toFixed(2);\n\nconst uniqueKey = `${invoiceNumber}|${totalAmount}`;\n\nreturn {\n  json: {\n    ...invoiceData,\n    uniqueKey: uniqueKey\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -736
      ],
      "id": "292e548d-0c82-4ac7-8077-067884ce0775",
      "name": "Makekey"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1JgUpQhk_A2A5v_pTcHRrlSQb3kaqOGnEtBz1abSSmhk",
          "mode": "list",
          "cachedResultName": "Invoices",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JgUpQhk_A2A5v_pTcHRrlSQb3kaqOGnEtBz1abSSmhk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JgUpQhk_A2A5v_pTcHRrlSQb3kaqOGnEtBz1abSSmhk/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": " uniqueKey",
              "lookupValue": "={{ $json.uniqueKey }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -384,
        -464
      ],
      "id": "973ef50c-3e86-4d9b-ad51-fa694cad5f9b",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q9yRCLZ3ZBIW2ALY",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "787a54ae-bf0a-4667-af0e-bc141d565fdf",
              "leftValue": "={{ $json.isDuplicate }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -144,
        -480
      ],
      "id": "e5b3aec7-2957-40bc-9cc8-a593dd4977ce",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "// Get the uniqueKey from Makekey node\nconst newUniqueKey = $('Makekey').first().json.uniqueKey;\nconsole.log('=== DUPLICATE CHECK DEBUG ===');\nconsole.log('New Invoice UniqueKey:', newUniqueKey);\n\n// Get all invoice data - handle both webhook and form submission data\nconst webhookData = $('Webhook').first().json;\nconst invoiceData = $('Information Extractor').first().json.output || $('Information Extractor').first().json;\n\n// Get sender email - from webhook or form data\nconst senderEmail = webhookData.sender_email || webhookData.email || invoiceData.sender_email || invoiceData.email || '';\n\n// Get file link from Upload file node\nconst fileLink = $('Upload file').first().json.webViewLink || $('Upload file').first().json.webContentLink || '';\n\n// Get all data from Makekey node\nconst makeKeyData = $('Makekey').first().json;\n\n// Get all rows from \"Get row(s) in sheet\"\nconst sheetRows = $input.all();\nconsole.log('Total rows fetched from sheet:', sheetRows.length);\n\nif (sheetRows.length > 0) {\n  console.log('First row data:', JSON.stringify(sheetRows[0].json, null, 2));\n  console.log('All uniqueKeys in sheet:');\n  sheetRows.forEach((row, index) => {\n    const keys = Object.keys(row.json);\n    console.log(`Row ${index}:`, keys);\n    \n    let foundKey = null;\n    for (const key of keys) {\n      const normalizedKey = key.trim().toLowerCase().replace(/[\\r\\n]/g, '');\n      if (normalizedKey === 'uniquekey') {\n        foundKey = row.json[key];\n        break;\n      }\n    }\n    \n    console.log(`  Found uniqueKey value: \"${foundKey}\"`);\n  });\n}\n\n// Check for duplicates - more robust approach\nlet duplicateFound = false;\n\nif (sheetRows.length > 0) {\n  duplicateFound = sheetRows.some(row => {\n    let rowKey = null;\n    \n    for (const key of Object.keys(row.json)) {\n      const normalizedKey = key.trim().toLowerCase().replace(/[\\r\\n]/g, '');\n      if (normalizedKey === 'uniquekey') {\n        rowKey = row.json[key];\n        break;\n      }\n    }\n    \n    if (rowKey) {\n      const cleanRowKey = rowKey.toString().trim();\n      const cleanNewKey = newUniqueKey.toString().trim();\n      const match = cleanRowKey === cleanNewKey;\n      \n      if (match) {\n        console.log(`DUPLICATE MATCH FOUND! Row key: \"${cleanRowKey}\" matches new key: \"${cleanNewKey}\"`);\n      }\n      return match;\n    }\n    \n    return false;\n  });\n}\n\nconsole.log('Final Result - Duplicate Found:', duplicateFound);\nconsole.log('=== END DEBUG ===');\n\n// Return everything needed for the next nodes\nreturn [{\n  json: {\n    isDuplicate: duplicateFound,\n    duplicateCheckDate: new Date().toISOString(),\n    duplicateReason: duplicateFound ? 'New invoice' : 'UniqueKey already exists',\n    sender_company_name: invoiceData['sender company name'] || invoiceData['vendor_name'] || '',\n    invoice_number: invoiceData['invoice_number'] || invoiceData['Invoice Number'] || '',\n    invoice_date: invoiceData['invoice_date'] || invoiceData['Invoice Date'] || '',\n    total_amount: invoiceData['total_amount'] || invoiceData['Total Amount'] || 0,\n    currency: invoiceData['currency'] || invoiceData['Currency'] || 'USD',\n    items_description: invoiceData['items description'] || invoiceData['items_description'] || '',\n    uniqueKey: makeKeyData.uniqueKey,\n    email: senderEmail,\n    webViewLink: fileLink,\n    category: invoiceData['category'] || '',\n    status: invoiceData['status'] || 'unpaid'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -736
      ],
      "id": "57c24b41-4b16-4071-bdc5-f6a246040293",
      "name": "Check Duplicate"
    },
    {
      "parameters": {
        "content": "",
        "height": 544,
        "width": 2976,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2352,
        -800
      ],
      "typeVersion": 1,
      "id": "bccdc6e0-b5de-4ad0-9a96-4323a081efcb",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 480,
        "width": 1344,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2352,
        -208
      ],
      "typeVersion": 1,
      "id": "0a429bd8-bae6-4030-8211-4cfdb8fab3e4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1088,
        -448
      ],
      "id": "6e9b3ef5-9dc3-4cd3-872a-5a799f5ba7de",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "GgGvkeziWZ3X0xwQ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 480,
        "width": 1616
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -976,
        -208
      ],
      "typeVersion": 1,
      "id": "6c448e5d-0735-43b4-ae7a-44a122ce82e9",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "// Node: Return Incomplete Invoice\n// Simple validation - marks invoice as complete or incomplete\n\nconst item = $input.first().json;\n\n// Get the extracted invoice data from Information Extractor\nconst invoiceData = item.output || item;\n\n// Define required fields - check ALL possible field name variations\nconst requiredFields = {\n  'invoice_number': invoiceData['invoice_number'] || invoiceData['Invoice Number'] || invoiceData['invoice number'],\n  'vendor_name': invoiceData['vendor_name'] || invoiceData['sender company name'] || invoiceData['vendor name'] || invoiceData['Vendor Name'],\n  'total_amount': invoiceData['total_amount'] || invoiceData['Total Amount'] || invoiceData['total amount']\n};\n\n// Check if all required fields have values\nconst missingFields = [];\n\nfor (const [fieldName, fieldValue] of Object.entries(requiredFields)) {\n  // Check if field is missing, null, undefined, or empty string\n  if (!fieldValue || String(fieldValue).trim() === '') {\n    missingFields.push(fieldName);\n  }\n}\n\n// Determine if invoice is complete\nconst isComplete = missingFields.length === 0;\n\n// Return result with simple flag for IF node routing\nreturn [{\n  json: {\n    // Pass through all original data\n    ...invoiceData,\n    \n    // Add validation flag for IF node\n    isComplete: isComplete,\n    \n    // Optional: include what's missing for logging\n    missingFields: missingFields.join(', ') || 'none',\n    \n    // Simple status for easy routing\n    status: isComplete ? 'complete' : 'incomplete'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        -624
      ],
      "id": "0e4a36fb-be88-46ba-83b3-e69665d5cc6f",
      "name": "Return Incomplete Invoice"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7961d58d-3e58-43dd-8c50-7fb5ee716d00",
              "leftValue": "={{ $json.isComplete }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -656,
        -624
      ],
      "id": "d79d15f6-dabe-4cc9-bc12-ad644ca19b45",
      "name": "If2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "57391180-3a20-4c62-be99-8dabae7ea51b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2256,
        -608
      ],
      "id": "abd773d0-50e5-445e-8e67-7910b26ec062",
      "name": "Webhook",
      "webhookId": "57391180-3a20-4c62-be99-8dabae7ea51b"
    },
    {
      "parameters": {
        "sendTo": "={{ $json['sender email'] }}",
        "subject": "Received Invoice",
        "message": "Your invoice received  and under process. Thank you",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        384,
        -720
      ],
      "id": "9ef5c5eb-4b0e-4105-82a6-b5fe348415d3",
      "name": "Invoice received confirmation",
      "webhookId": "5b0bd1a9-3e95-4a85-bfe1-647507a338f6",
      "credentials": {
        "gmailOAuth2": {
          "id": "wyauPxOw5jd7LNq9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}\n",
        "subject": "Return of incomplete invoice",
        "message": "=Please see the linked invoice of your company , and re-submit the same after completing all necessary fields , invoice number, invoice date, total amount, vendor name(your company name) .   {{ $('Upload file').item.json.webViewLink }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -672,
        -432
      ],
      "id": "1ac1c321-daba-4141-9f60-ac4e309a9c23",
      "name": "Send back incomplete",
      "webhookId": "fa4e4dad-625f-4e78-aa4e-06228d5f2c55",
      "credentials": {
        "gmailOAuth2": {
          "id": "wyauPxOw5jd7LNq9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gCDI3z0IpqbC3WyzUeLX48eO99bDZ20eDpV61dJB9Z8",
          "mode": "list",
          "cachedResultName": "Duplicate Invoices",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gCDI3z0IpqbC3WyzUeLX48eO99bDZ20eDpV61dJB9Z8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JgUpQhk_A2A5v_pTcHRrlSQb3kaqOGnEtBz1abSSmhk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "invoice url": "==HYPERLINK(\"{{$('Upload file').item.json.webViewLink}}\", \"View Link\")\n",
            " uniqueKey": "={{ $('Makekey').item.json.uniqueKey }}",
            "invoice url raw": "={{ $('Upload file').item.json.webViewLink }}",
            "invoice number": "={{ $('Information Extractor').item.json.output.invoice_number }}",
            "invoice date": "={{ $('Information Extractor').item.json.output.invoice_date }}",
            "total amount": "={{ $('Information Extractor').item.json.output.total_amount }}",
            "vendor name": "={{ $('Information Extractor').item.json.output.vendor_name }}",
            "currency": "={{ $('Information Extractor').item.json.output['currency '] }}",
            "category": "={{ $('Information Extractor').item.json.output.category }}",
            "sender email": "={{ $('Webhook').item.json.body.email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "invoice number",
              "displayName": "invoice number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "invoice date",
              "displayName": "invoice date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vendor name",
              "displayName": "vendor name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sender email",
              "displayName": "sender email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "total amount",
              "displayName": "total amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "invoice url",
              "displayName": "invoice url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": " uniqueKey",
              "displayName": " uniqueKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "invoice url raw",
              "displayName": "invoice url raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Allowed tokens",
              "displayName": "Allowed tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        160,
        -464
      ],
      "id": "b8f0c72c-7271-4990-b0f6-e0b9cf10abac",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q9yRCLZ3ZBIW2ALY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "skillhub42@gmail.com",
        "subject": "Duplicate Invoice",
        "message": "Please check the duplicate invoice received from concerned vendor",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        384,
        -464
      ],
      "id": "ae7fc452-d8a0-4bd5-b8cc-0e0706801e83",
      "name": "Send a message",
      "webhookId": "b7e5a2b2-17a7-419f-ae09-f0293171ccca",
      "credentials": {
        "gmailOAuth2": {
          "id": "wyauPxOw5jd7LNq9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1JgUpQhk_A2A5v_pTcHRrlSQb3kaqOGnEtBz1abSSmhk",
          "mode": "list",
          "cachedResultName": "Invoices",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JgUpQhk_A2A5v_pTcHRrlSQb3kaqOGnEtBz1abSSmhk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JgUpQhk_A2A5v_pTcHRrlSQb3kaqOGnEtBz1abSSmhk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1888,
        112
      ],
      "id": "a7b51383-36f8-4548-b490-53c91cc76c8b",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q9yRCLZ3ZBIW2ALY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2208,
        112
      ],
      "id": "4f62a19b-eee1-446d-a791-b9a8b621980a",
      "name": "9AM"
    },
    {
      "parameters": {
        "jsCode": "// Get the items from the previous node\nconst items = $input.all();\n\n// If no items, return empty\nif (!items || items.length === 0) {\n  return [];\n}\n\n// Get current date\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\n// Filter invoices that are unpaid AND overdue by 7+ days\nconst overdueInvoices = items.filter(item => {\n  const json = item.json;\n  \n  // Check if invoice is unpaid\n  const status = (json.status || '').toLowerCase().trim();\n  if (status !== 'unpaid') {\n    return false;\n  }\n  \n  // Check if 7 days have passed since invoice date\n  const invoiceDate = new Date(json['invoice date']);\n  invoiceDate.setHours(0, 0, 0, 0);\n  \n  const daysDifference = Math.floor((today - invoiceDate) / (1000 * 60 * 60 * 24));\n  \n  // Include only if 7 or more days have passed\n  return daysDifference >= 7;\n});\n\n// If no overdue invoices, return empty\nif (overdueInvoices.length === 0) {\n  return [];\n}\n\n// Create simple HTML table\nlet tableHTML = '<table border=\"1\" style=\"border-collapse: collapse; width: 100%;\"><thead><tr><th style=\"padding: 8px; background-color: #f2f2f2;\">Invoice Number</th><th style=\"padding: 8px; background-color: #f2f2f2;\">Vendor Name</th><th style=\"padding: 8px; background-color: #f2f2f2;\">Amount</th><th style=\"padding: 8px; background-color: #f2f2f2;\">Invoice Date</th></tr></thead><tbody>';\n\n// Add each overdue unpaid invoice as a row\nfor (const item of overdueInvoices) {\n  const json = item.json;\n  \n  // Match exact column names from Google Sheet\n  const invoiceNumber = json['invoice number'] || 'Not Available';\n  const vendorName = json['vendor name'] || 'Not Available';\n  const totalAmount = json['total amount'] || '0';\n  const currency = json.currency || '';\n  const invoiceDate = json['invoice date'] || 'Not Available';\n  \n  tableHTML += '<tr>';\n  tableHTML += '<td style=\"padding: 8px;\">' + invoiceNumber + '</td>';\n  tableHTML += '<td style=\"padding: 8px;\">' + vendorName + '</td>';\n  tableHTML += '<td style=\"padding: 8px;\">' + totalAmount + ' ' + currency + '</td>';\n  tableHTML += '<td style=\"padding: 8px;\">' + invoiceDate + '</td>';\n  tableHTML += '</tr>';\n}\n\ntableHTML += '</tbody></table>';\n\n// Return the formatted table\nreturn [{\n  json: {\n    tableHTML: tableHTML,\n    count: overdueInvoices.length,\n    message: 'There are ' + overdueInvoices.length + ' unpaid invoice(s) overdue by 7+ days'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1584,
        112
      ],
      "id": "dd04012c-3ebf-42b7-95ea-15ded9044f4b",
      "name": "Check Overdue Invoices"
    },
    {
      "parameters": {
        "sendTo": "skillhub42@gmail.com",
        "subject": "Unpaid Overdue Invoices",
        "message": "=Please check the list of all unpaid and overdue invoice and clear the backlog {{ $json.tableHTML }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1248,
        112
      ],
      "id": "a7166109-b407-4ac1-8353-b1e587427582",
      "name": "Send Reminder for Overdue",
      "webhookId": "0e7a7a62-05b4-4192-ac4d-729f177eae9a",
      "credentials": {
        "gmailOAuth2": {
          "id": "wyauPxOw5jd7LNq9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1a6a2dd-3661-4ae9-9441-c79d00554677",
              "leftValue": "={{ $json.status }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1840,
        -96
      ],
      "id": "9a8a2975-7985-484a-9311-d785b1e4719d",
      "name": "Filter by status"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1424,
        -112
      ],
      "id": "d950f41d-84ca-4997-b1da-af1372977eec",
      "name": "Aggregate"
    }
  ],
  "pinData": {},
  "connections": {
    "Extract text": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text1": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Return Incomplete Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract text1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Rows from Sheet": {
      "main": [
        [
          {
            "node": "Filter Reviewed Invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Reviewed Invoices": {
      "main": [
        [
          {
            "node": "Process Summary Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Summary Data": {
      "main": [
        [
          {
            "node": "Build HTML Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build HTML Summary": {
      "main": [
        [
          {
            "node": "Invoice summary to Management",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger 4PM": {
      "main": [
        [
          {
            "node": "Get Rows from Sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger 6PM": {
      "main": [
        [
          {
            "node": "Get Rows from Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Rows from Sheet1": {
      "main": [
        [
          {
            "node": "Filter by status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Makekey": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Check Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        []
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Return Incomplete Invoice": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Makekey",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send back incomplete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Invoice received confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Check Overdue Invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9AM": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Overdue Invoices": {
      "main": [
        [
          {
            "node": "Send Reminder for Overdue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter by status": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Message to Reviewer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dd9d3309-340b-409a-9e1e-750f0f781aa5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b74d90ba5d894f818287acfe6aabc36b328635e8c86b6b6670706e492e01d0a0"
  },
  "id": "0eFfu104YN5GMns9",
  "tags": []
}